[Unit]
Description=Radio daemon - plays radio from the decade 'tuned'
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/radio/radio.py

[Install]
WantedBy=multi-user.target
